# optional (for dev)
marshmallow
apispec>=1.0.0b5
apispec-webframeworks
flask-restful
pep8==1.7.1
flake8==3.8.4
pytest>=4.6
flex
coveralls
pytest-cov
decorator
wheel
flask-jwt
twine>=1.11.0

# for pypi markdown support
readme_renderer
setuptools>=65.5.1

# install flasgger itself as editable
-e .
-e etc/flasgger_package
certifi>=2023.7.22 # not directly required, pinned by Snyk to avoid a vulnerability
flask>=2.2.5 # not directly required, pinned by Snyk to avoid a vulnerability
idna>=3.7 # not directly required, pinned by Snyk to avoid a vulnerability
jinja2>=3.1.4 # not directly required, pinned by Snyk to avoid a vulnerability
pygments>=2.15.0 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.31.0 # not directly required, pinned by Snyk to avoid a vulnerability
tqdm>=4.66.3 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=2.2.3 # not directly required, pinned by Snyk to avoid a vulnerability
